*{
    font-size: 1rem;
}

#container{
    margin: auto;
    height: 100vh;
    width: auto
}

#quote-box {
    width: 450px;
    padding: 40px 50px;
    display: table;
    border: 5px solid blue;
    background-color: gray;
     

body{
    justify-content: center;
    background-color: aqua;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: auto;
    border-radius: 3px;
    position: relative;
    width: 450px;
    padding: 40px 50px;
    display: table;
    background-color: #fff;
}

.button:hover{
     color: blue;
}

